.mp_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}
.mp_h2{
    font-size: 50px;
    margin-bottom: 20px;
}
.mp_label {
    font-size: 24px;
}
.mp_password{
    width: 364px;
    padding-left: 7px;
    /* border-radius:15px; */
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 41px;
    font-size: 20px;
}
.mp_mar{
    font-size: 30px;
    margin-bottom: 20px;
}
.mp_icon_button {
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 36px;
    height: 40px;
}
.mp_icon {
    width: 20px;
    height: 17px;
}
.mp_span{
    font-size: 26px;
    color: red;
}
.mp_form{
    margin: 0 auto;
    width: 420px;
}
.mp_button{
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: 30px;
    width: 190px;
    height: 60px;
}
.mp_clear{
    margin-left: 20px;
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: 30px;
    width: 190px;
    height: 60px;
}
@media screen and (max-width:768px) {
    .mp_form{
        margin: 0 auto;
        width: 320px;
    }
    .mp_label {
        font-size: 20px;
    }
    .mp_password {
        padding-left: 10px;
        width: 290px;
        height: 30px;
        font-size: 20px;
    }
    
    .mp_button {
        width: 150px;
        font-size: 20px;
    }

    .mp_clear {
        width: 150px;
        font-size: 20px;
        margin-left: 20px;

    }

    .mp_mar {
        margin-bottom: 20px;
    }

    .mp_span {
        font-size: 16px;
        color: red;
    }

    .mp_icon_button {
       
        width: 30px;
        height: 30px;
    }

    .mp_icon {
        width: 20px;
        height: 16px;
    }

}