nav.deliverNav {
  height: var(--navHeight);
  background-color: var(--mainColor);
  display: flex;
  align-items: center;
  padding: 20px;
  /* position: relative; */
  justify-content: space-between;
}